/*
 * labset.css
 * Copyright (C) 2015 hasnaer
 *
 * Distributed under terms of the MIT license.
 */

.lefty {
  float : left;
}

.righty {
  float : right;
}

.right-10 {
  margin-right : 10px;
}

.top-15 {
  margin-top  : 15px;
}

.bottom-15 {
  margin-bottom : 15px;
}

.left-5 {
  margin-left : 5px;
}
